:root {
    --color-A: #134B3B;
    --color-A-alpha: #134b3b83;
    --color-B: #C6A663;
    --color-B-alpha: #C6A66388;
    --color-C: #6A734E;
    --color-C-alpha: #6a734e7a;
    --color-D: #44645C;
    --color-D-alpha: #44645c85;
    --color-E: #828C60;
    --color-E-alpha: #828c6081;
} 

body {
    margin: 0;
    padding-bottom: calc(var(--footerHeight) + (var(--footerVerticalPadding) * 2));
    font-family: "Lato";
    font-size: 130%;
}

/* tile links */
.tile-link {
    padding: 0.6em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    transition: filter 0.4s ease;
}

a:hover {
    filter: brightness(1.2);
}
/* basic styles */
.center {
    text-align: center;
}
.tile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.full-size {
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
}

.clickable:hover {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.box-shadow {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.symbol {
    font-family: "Fontello" !important;
}
.title-font {
    font-family: "Big Shoulders", sans-serif;
}
/* title animation */
.title {
    font-family: "Big Shoulders", sans-serif;
    letter-spacing: 3px;
    font-size: 44px;
    font-weight: normal;
}

.title-container {
    padding: 0 0.9em 0 0.9em;
}

.title-container .title {
    color: var(--color-B);
    display: block;
    animation: title-anim 3s ease-in-out infinite alternate;
}

@keyframes title-anim {
    from {
        transform: rotate(2deg) translateY(-1px);
        transform-origin: left bottom;
    }
    to {
        transform: rotate(-2deg) translateY(-1px);
        transform-origin: right bottom;
    }
}

hr {
    border: 0;
    margin-inline: 0.5em;
    width: auto;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: 5px;
    background-color: currentColor;
}

.big {
    font-size: 1.2em;
}
.bigger {
    font-size: 1.5em;
}
.huge {
    font-size: 2em;
}
.huge-max {
    font-size: 3em;
}
.light {
    font-family: "Lato Light", sans-serif;
}
.mrg-bottom {
    margin-bottom: 6px;
}
/*containers and positioning*/
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-inline {
    display: inline-flex;
}
.flex-center {
    justify-content: center;
}
.flex-around {
    justify-content: space-around;
}
.flex-left {
    justify-content: flex-start;
}
.flex-right {
    justify-content: flex-end;
}
.flex-evenly {
    justify-content: space-evenly;
}
.flex-baseline {
    align-items: baseline;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.self-centered {
    justify-self: center;
}
.container {
    display: block;
}
.flex-line-space > * + * {
    margin-left: 0.2em;
}
.abs-right {
    position: absolute;
    top: 0;
    right: 0;
}
.half-w {
    width: 50%;
}
img.darker {
    filter: brightness(0.6);
}
/*margins*/
footer .flex-row + .flex-row {
    margin-top: 0.1em;
}
.pad-bottom {
    padding-bottom: 0.8em;
}
.padding {
    padding: 2%;
}
/* themes */
.theme-A {
    color: var(--color-A);
    background-color: var(--color-A-alpha);
    background-image: url(../images/bgs/geometry3-alpha.png);
}
.theme-B {
    color: var(--color-B);
    background-color: var(--color-B-alpha);
    background-image: url(../images/bgs/geometry4-alpha.png);
}
.theme-C {
    color: var(--color-C);
    background-color: var(--color-C-alpha);
    background-image: url(../images/bgs/geometry0-alpha.png);
}
.theme-D {
    color: var(--color-D);
    background-color: var(--color-D-alpha);
    background-image: url(../images/bgs/geometry2-alpha.png);
    
}
.theme-E {
    color: var(--color-E);
    background-color: var(--color-E-alpha);
    background-image: url(../images/bgs/geometry1-alpha.png);
}
.white {
    color: white;
}
.black {
    color: black;
}
/*sections*/
body > section:only-of-type {
    min-height: calc(100vh - var(--footerHeight) - var(--navBarHeight) - (var(--footerVerticalPadding) * 2) - 8px);
}
#map {
    background-color: var(--color-A);
    border: 5px solid var(--color-A);
    height: 450px;
    width: 600px;
}