:root {
    --navBarHeight: 55px;
    --navBarFontSize: 20px;
    --footerHeight: 87.6px;
    --footerVerticalPadding: 1em;
}

#navBarContainer {
    height: var(--navBarHeight);
    position: relative;
    display: block;
    z-index: 5;
}

#navBar {
    background-color: var(--color-A);
    color: var(--color-B);
    font-family: "Roboto Condensed", sans-serif;
    font-size: var(--navBarFontSize);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5)
}

#navBar.floating {
    position: fixed;
    left: 0;
    top: 0;
}

@keyframes navbar-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0px);
    }
}

#navBar a {
    border-color: transparent;
    text-decoration: none;
    color: var(--color-B);
    font-weight: bold;
}

#navBar .tile-link {
    background-clip: border-box;
    transform: rotate3d(0, 1, 0, 0deg);
    transform-origin: left center 0px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0);
    background-color: transparent;
    height: 100%;
    padding: 0 0.6em 0 0.6em;
    transition: background-color 0.4s ease, text-shadow 0.4s ease;
}

#navBar .tile-link .text {
    transform: translateY(0px);
    display: block;
    transition: transform 0.4s ease;
}
#navBar .tile-link .text.flex-row {
    display: flex;
}
#navBar .tile-link:hover {
    background-color: var(--color-B-aplha);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

#navBar .tile-link:hover .text {
    transform: translateY(2px);
}

#navBar [tabindex]:focus,  #navBar a:focus{
    outline: 2px solid currentColor;
}

#navBar div.symbol-container {
    font-size: 30px;
    padding: 0 0.4em 0 0.4em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    color: var(--color-B);
}
#navBar div.symbol-container div.symbol {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0);
    transition: transform 0.4s ease, text-shadow 0.4s ease, filter 0.2s ease;
}
#navBar div.symbol-container:active div.symbol {
    filter: brightness(1.5);
}
#navBar div.symbol-container:hover div.symbol {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    transform: translateX(2px);
}

#navSidebarContainer {
    font-family: "Roboto Condensed", sans-serif;
    height: 100vh;
    width: 300px;
    background-color: var(--color-D);
    box-shadow: 4px 2px 6px rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: -302px;
    z-index: 4;
    color: var(--color-B);
    padding-top: var(--navBarHeight);
    transform: translateX(0px);
    transition: transform 0.4s ease, box-shadow 0.6s ease;
    overflow-x: hidden;
    overflow-y: auto;
}

#navSidebarContainer.open {
    box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.6);
    transform: translateX(301.5px);
}

#navSidebar {
    padding: 0px 0px 15px 0px;
    font-size: 25px;
}

#navSidebar > *:first-child {
    border-top: 15px solid transparent;
    background-clip: border-box;
}

#navSidebarContainer #navSidebar {
    transform-origin: left bottom;
    transform: scale(0.8) rotate(20deg) translateX(-100px);
    transition: transform 0.4s ease;
    height: calc(100% - 55px - 30px - 25px);
}

#navSidebarContainer.open #navSidebar {
    transform: scale(1) rotate(0deg) translateX(0);
}

#navSidebarContainer .navElem {
    padding: 0.3em 0.6em 0.3em 0.6em;
    display: block;
}

#navSidebarContainer .navElem + .navElem {
    border-top: 2px solid var(--color-A);
}

#navSidebarContainer a:hover {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

#navSidebarContainer a .text {
    display: inline-block;
    transition: transform 0.4s ease;
}

#navSidebarContainer a:hover .text {
    transform: translateX(3px);
}

#navSidebarContainer a.navElem {
    transition: text-shadow 0.4s ease, background-color 0.4s ease;
}

#navSidebarContainer a.navElem:hover {
    background-color: var(--color-A);
}

#navSidebarContainer .bg-focus {
    transition: background-color 0.4s ease;
}

#navSidebarContainer .bg-focus:focus-within {
    background-color: var(--color-A);
}

footer {
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.6);
    height: var(--footerHeight);
    width: calc(100% - 1.6em);
    background-color: var(--color-D);
    padding: var(--footerVerticalPadding) 0.8em var(--footerVerticalPadding) 0.8em;
    color: var(--color-B);
    font-size: var(--navBarFontSize);
}

footer  {
    position: fixed;
    bottom: 0;
    left: 0;
}

footer .flex-row {
    justify-items: stretch;
}

footer hr {
    width: 10vw;
}

#copyright {
    font-family: "Lato Light", sans-serif;
}

#searchBarContainer {
    display: flex !important;
    position: relative;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    transition: border-bottom 0.4s ease;
}

#searchBarContainer:focus-within {
    border-bottom: 3px solid var(--color-B);
}

#searchBarContainer #searchIcon {
    margin-right: 10px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0);
    transition: transform 0.4s ease, text-shadow 0.4s ease;
}
#searchBarContainer #searchIcon:hover {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
}

#searchInput {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--color-B);
    font-size: inherit;
    font-family: "Roboto Condensed", sans-serif;
    transition: filter 0.4s ease;
}
#searchInput:hover {
    filter: brightness(1.4);
}#searchInput:focus:hover {
    filter: unset;
}
#searchInput::placeholder {
    opacity: 0.5;
    color: var(--color-B);
    font-family: "Lato Light", sans-serif;
}