product-list[type="tile-list"] {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    width: 100%;
}

product-tile {
    text-shadow: none;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    flex-basis: auto;
    width: calc((100% / 3) - 40px);
    justify-content: center;
    overflow: hidden;
    position: relative;
    min-width: 125px;
    min-height: 300px;
    background-repeat: repeat;
    background-size: 150px auto;
}

product-tile:hover {
    cursor: pointer;
}

product-tile .product-name {
    font-weight: bold;
    font-size: 110%;
    text-align: center;
}

product-tile .image-container {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: transform 0.4s ease;
}

product-tile .image-container .product-image {
    width: 100%;
    height: 100%;
}

product-tile .product-price {
    font-weight: bold;
    font-size: 120%;
    letter-spacing: 2px;
}

product-tile .date-container {
    font-family: "Lato Light", sans-serif;
    font-size: 80%;
}

product-tile .break-line {
    height: 4px;
    width: 30%;
    margin: 3px 0px;
}

product-tile .tile-overlay {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    transform: translateY(-100%);
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    transition: transform 0.4s ease;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
}

product-tile .tile-overlay.hidden {
    transform: translateY(0%);
}

product-tile .tile-overlay button {
    font-family: "Lato Light";
    margin-bottom: 15px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 100%;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    border: none;
    transition: transform 0.2s ease, text-shadow 0.4s ease, filter 0.4s ease;
    border-radius: 0;
    pointer-events: all;
}
product-tile .tile-overlay button:hover {
    cursor: pointer;
    transform: translateY(4px);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    filter: brightness(1.2);
}

product-tile .tile-overlay button:active {
    transform: translateY(4px) scale(0.95);
}

product-tile.type-A {
    background-color: var(--color-A-alpha);
    background-image: url(../images/bgs/geometry0-alpha.png);
}

product-tile.type-A:hover .image-container {
    transform: rotate(10deg) scale(1.1);
}

product-tile.type-A button {
    background-color: var(--color-A);
    color: white;
}

product-tile.type-B {
    background-color: var(--color-B-alpha);
    background-image: url(../images/bgs/geometry1-alpha.png);
}

product-tile.type-B:hover .image-container {
    transform: rotate(-10deg) scale(0.95);
}

product-tile.type-B button {
    background-color: var(--color-B);
    color: white;
}

product-tile.type-C {
    background-color: var(--color-C-alpha);
    background-image: url(../images/bgs/geometry2-alpha.png);
}

product-tile.type-C:hover .image-container {
    transform: rotate(7deg) scale(0.95);
}

product-tile.type-C button {
    background-color: var(--color-C);
    color: white;
}

product-tile.type-D {
    background-color: var(--color-D-alpha);
    background-image: url(../images/bgs/geometry3-alpha.png);
}

product-tile.type-D:hover .image-container {
    transform: rotate(-5deg) scale(1.1);
}

product-tile.type-D button {
    background-color: var(--color-D);
    color: white;
}

product-tile.type-E {
    background-color: var(--color-E-alpha);
    background-image: url(../images/bgs/geometry4-alpha.png);
}

product-tile.type-E:hover .image-container {
    transform: rotate(5deg) scale(1.05);
}

product-tile.type-E button {
    background-color: var(--color-E);
    color: white;
}
cart-view {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

cart-element {
    width: 100%;
    height: 140px;
}

cart-element + cart-element {
    border-top: 2px solid currentColor;
}

cart-element .col-1 {
    width: 20%;
    height: 100%;
}

cart-element .col-3 {
    width: 300px;
    min-width: 120px;
    height: 100%;
}

cart-element .col-2 {
    flex-grow: 1;
    height: 100%;
}
cart-element .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

cart-element .image-container img {
    max-height: 90%;
    max-width: 90%;
    width: auto;
}

cart-element .col-3 input[type="number"] {
    width: 40px;
    height: 30px;
    color: inherit;
    font-size: 120%;
    border: 3px solid currentColor;
    background-color: transparent;
    outline: none;
    text-align: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
cart-element .col-3::before {
    content: "Ilość: ";
    font-size: 110%;
    font-weight: bold;
}

cart-element .col-3 input[type="number"]:focus {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    
}
cart-element .col-3 input[type="number"]:hover:not(:focus) {
    transform: scale(1.1);
}
cart-element .image-container:hover, cart-element .product-name:hover, cart-element .col-3 button:hover {
    cursor: pointer;
}

cart-element .product-price {
    font-size: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
cart-element .col-3 button {
    font-family: "Lato Light";
    padding: 0.4em;
    font-size: 110%;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    color:white;
    border: 0;
    border-radius: 0;
    transition: transform 0.2s ease, filter 0.4s ease;
}

.theme-A cart-element .col-3 button {
    background-color: var(--color-A);
}

.theme-B cart-element .col-3 button {
    background-color: var(--color-B);
}

.theme-C cart-element .col-3 button {
    background-color: var(--color-C);
}

.theme-D cart-element .col-3 button {
    background-color: var(--color-D);
}

.theme-E cart-element .col-3 button {
    background-color: var(--color-E);
}

cart-element .col-3 button:hover {
    transform: translateY(4px);
    filter: brightness(1.2);
}

cart-element .col-3 button:active {
    transform: translateY(4px) scale(0.95);
}
/* ulubione */
section[type="faveourites"] {
    width: 100%;
}

fav-view {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

fav-element {
    width: 100%;
    height: 140px;
}

fav-element + fav-element {
    border-top: 2px solid currentColor;
}

fav-element .col-1 {
    width: 20%;
    height: 100%;
}

fav-element .product-price {
    font-size: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

fav-element .col-3 {
    width: 10%;
    min-width: 120px;
    height: 100%;
}

fav-element .col-2 {
    flex-grow: 1;
    height: 100%;
}
fav-element .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
fav-element .image-container img {
    max-height: 90%;
    max-width: 90%;
    width: auto;
}


fav-element .image-container:hover, fav-element .product-name:hover, fav-element .col-3 button:hover {
    cursor: pointer;
}

fav-element .col-3 button {
    font-family: "Lato Light";
    padding: 0.4em;
    font-size: 110%;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    color:white;
    border: 0;
    border-radius: 0;
    transition: transform 0.2s ease, filter 0.4s ease;
}

.theme-A > section fav-element .col-3 button {
    background-color: var(--color-A);
}

.theme-B > section fav-element .col-3 button {
    background-color: var(--color-B);
}

.theme-C > section fav-element .col-3 button {
    background-color: var(--color-C);
}

.theme-D > section fav-element .col-3 button {
    background-color: var(--color-D);
}

.theme-E > section fav-element .col-3 button {
    background-color: var(--color-E);
}

fav-element .col-3 button:hover {
    transform: translateY(4px);
    filter: brightness(1.2);
}
fav-element .col-3 button:active {
    transform: translateY(4px) scale(0.95);
}
/* strona prduktu */

product-show {
    min-height: calc(100vh - var(--footerHeight) - var(--navBarHeight) - (var(--footerVerticalPadding) * 2) + 1px);
}
product-show .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
product-show .image-container img {
    width: 70%;
}

product-show .product-name {
    font-size: 200%;
    font-weight: bold;
    color: black;
}

product-show .break-line {
    height: 2px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}
product-show .price-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
product-show .price-container .product-price {
    color: black;
    letter-spacing: 7px;
    font-weight: bold;
    font-size: 250%;
    padding: 0.05em;
    border-bottom: 6px solid black;
}

product-show .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.theme-A product-show .btnContainer button {
    background-color: var(--color-A);
}

.theme-B product-show .btnContainer button {
    background-color: var(--color-B);
}
.theme-C product-show .btnContainer button {
    background-color: var(--color-C);
}

.theme-D product-show .btnContainer button {
    background-color: var(--color-D);
}

.theme-E product-show .btnContainer button {
    background-color: var(--color-E);
}

product-show .btnContainer button {
    font-family: "Lato Light";
    padding: 16px;
    border: 0;
    border-radius: 0;
    font-weight: bold;
    color: white;
    font-size: 120%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    transition: filter 0.4s ease, transform 0.2s ease;
}

product-show .btnContainer button:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: translateY(4px);
}

product-show .btnContainer button:active {
    transform: translateY(4px) scale(0.95);
}

product-show .btnContainer button + button {
    margin-left: 50px;
}

product-show .date-container::before {
    content: "Data dodania: "
}