section {
    position: relative;
    display: block;
}
section[type="hr-title"] {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 150%;
    font-family: "Big Shoulders", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section[type="hr-title"] .title {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    font-family: "Big Shoulders", sans-serif;
}

section[type="hr-title"] hr {
    max-width: -moz-available;
    max-width: -webkit-fill-available;
    max-width: fill-available;
    width: 10vw;
}
section[type="text-on-image"].high {
    height: calc(100vh - var(--navBarHeight));
   
}
section[type="text-on-image"] > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}  

section[type="text-on-image"] > div.bgPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
}

section[type="text-on-image"] img {
    min-height: 100%;
    height: auto;
    width: auto;
}

section[type="2column-title"] {
    width: 10%;
    letter-spacing: -15px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    font-family: "Big Shoulders", sans-serif;
    font-weight: bold;
    font-stretch: expanded;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

section[type="2column-description"] {
    width: 90%;
}
.theme-A, .theme-B, .theme-C, .theme-D, .theme-E {
    background-repeat: repeat;
    background-size: 150px auto;
}
section[type="form"] {
    position: relative;
    width: 18%;
    min-width: 250px;
    height: 55vh;
    border-radius: 0px;
    padding: 2% 2%;
    overflow: hidden;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    font-size: 110%;
}

section[type="form"] label {
    
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 80%;
}

section[type="form"] input {
    border-radius: 0;
    padding: 3% 3%;
    background-color: transparent;
    color: inherit;
    font-family: "Lato Light";
    font-weight: bold;
    font-size: 110%;
    border: 0;
    border-bottom: 4px solid currentColor;
    width: 80%;
    outline: none;
    transition: filter 0.4s ease, transform 0.4s ease;
}



section[type="form"] input::placeholder {
    color: inherit;
    opacity: 0.5;
}

section[type="form"] input:focus {
    filter: brightness(0.7);
}

section[type="form"] input:hover:not(:focus) {
    transform: scale(0.98);
    filter: brightness(0.8);
}

section[type="form"] input.mrg-bottom {
    margin-bottom: 20px;
}
section[type="form"] label {
    margin-bottom: 5px;
}

section[type="form"] form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}   
section[type="form"] button {
    border: 0;
    padding: 3% 6%;
    font-size: 120%;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border-radius: 0;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    font-family: "Lato Light";
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.4s ease, transform 0.2s ease, filter 0.4s ease;
    outline: none;
}
section[type="form"] button:disabled {
    opacity: 0.6;
}
section[type="form"] button:hover {
    cursor: pointer;
    filter: brightness(1.6);
    transform: translateY(4px);
}
section[type="form"] button:focus:not(:hover) {
    transform: scale(1.05);
}
section[type="form"] button:active {
    transform: scale(0.95);
}
section[type="form"] *:last-child {
    margin-top: 20px;
}
section[type="content"] {
    padding: 2%;
}
section[type="text-on-image"] button.white-btn {
    margin-top: 15px;
    color:rgba(0, 0, 0, 0.8);
    border-color: #ffffff;
    display: block;
    padding: 20px 34px;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-family: "Lato Light", sans-serif;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2em;
    background-color:#F8F8FF;
    -webkit-tap-highlight-color: initial;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

section[type="text-on-image"] button.white-btn:hover {
    transform: translateX(5px);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

section[type="selection-layout"] {
    width: 90%;
    height: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-grow: 1;
    overflow: hidden;
}
div.index-corner{
    position: absolute;
    left: 10%;
    bottom: 15%;
}

/* koszyk */
section[type="cart"] {
    width: 100%;
}

section[type="2column"] {
    display: flex;
    flex-direction: row;
}
